@CHARSET "UTF-8";

table{
	table-layout:fixed;
}

#btnDiv{
	padding-bottom:30px;
}

#btnGroup{
	
	border: 1px solid white;
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	box-shadow: -5px 5px 30px 0 #F0F0F0;
}

#ticketAndUpdateContainer{
	padding-top: 30px;	
	padding-bottom: 30px;	
    border-radius: 10px;
	box-shadow: -5px 5px 30px 0 #F0F0F0;
}

#ticketInfo{
	padding: 20px 0 20px 0;
    height: 600px;
    overflow: scroll;
    overflow-x:hidden;
    overflow-y:auto;
 	
}

#verticalLine {
	 float:left;
	 height:600px;
	 width:1px;
	 background-color: #F0F0F0;
} 

#ticketUpdates{
	float: right;
	padding: 20px 20px 20px 20px;
    height:400px;
    overflow: scroll;
    overflow-x:hidden;
    overflow-y:auto;
}

th{
	text-align: center;
}

td{
	max-width: 10%;
	padding: 5px 10px 5px 0;
}

.main{
	background: #D3D3D3;
	border: 1px solid;
	border-spacing: 5px;
	border-color: white;
	border-radius: 20px 0 0 0;
}

.main2{
	background: #D3D3D3;
	border: 1px solid;
	border-spacing: 5px;
	border-color: white;
	border-radius: 0 20px 0 0;
}

.main3{
	background: #D3D3D3;
	border: 1px solid;
	border-spacing: 5px;
	border-color: white;
	border-radius: 20px 20px 0 0;
}

.sub{
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
}