@CHARSET "UTF-8";

form{
	display:inline;
}

#info {
	z-index: 5;
	height: 100%;
    position: fixed;
    background: #666;
    width: 100%;
    left: -100%;
}

#base {
	background-color: white;
	z-index: 1;
	height: 100%;
	border: 1px solid;
}

.ticket{
	border: 1px solid;
}