@CHARSET "UTF-8";

.container {
	padding: 15px 0 0 0;
}

.jumbotron{
	background: url('../../images/TechITLOGO_3.png') no-repeat center center;
	background-size: 50%;
    box-shadow: 10px 10px 30px 0 #F0F0F0;
    min-width: 450px;
    min-height: 200px;
	
}

#row1 {
    padding: 30px 30px 0 30px;
}

#row2 {
	padding: 30px 30px 50px 30px; 
}

#infos{
	border-radius: 10px;
    border-color: #F8F8F8;
    box-shadow: -5px 5px 30px 0 #F0F0F0;
    padding: 15px 30px 10px 50px;
}

#login-form{
    margin-top: 50px;
    border-radius: 10px;
    border-color: #F8F8F8;
    box-shadow: -5px 5px 30px 0 #F0F0F0;
    padding:0 15px 0 15px;
}
